<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <img src="https://media.istockphoto.com/id/811268074/photo/laptop-computer-desktop-pc-human-hand-office-soft-focus-picture-vintage-concept.jpg?s=612x612&w=0&k=20&c=-SZ1qYCD0XL30VA0SIjhsUksmMzoNv2vAeEzL0e7WIc=" alt="Person Typing" class="rounded-circle" width="300px" height="300px">
    </div>
    <div class="col-md-9">
      <h1 class="text-muted mb-3">
        <span class="text-dark">This Second Heading</span> Is Pretty Cool Too
      </h1>
      <p class="ml-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, deleniti tempore quas, recusandae laboriosam blanditiis omnis mollitia pariatur, consequatur exercitationem qui unde alias. Eligendi, assumenda?
      </p>
    </div>
    <hr class="my-2">
  </div>
</div>



